# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.suo
*.sdf
*.opensdf
*.user
*.tlog
*.log
*.manifset
*.res
*.lastbuildstate
*.obj
*.exe
*.lib
*.idb
*.pdb
*_manifest.rc
debug
release